<span class="title">Card</span>
<section class="section" id="informationCard">
    <details class="details">
        <summary>
            <span class="heading">Information Card</span>
        </summary>
        <div class="presentation">
            <div class="output">
                <div class="card card-0">
                    <div class="content">
                        The information card shows static information only, mostley with no image or any extra icons.
                    </div>
                </div>
            </div>
        </div>
    </details>
</section>
<section class="section" id="propertyCard">
    <details class="details" open>
        <summary>
            <span class="heading">Property Card</span>
        </summary>
        <div class="presentation">
            <div class="output">
                <div class="card card-1 shadow-sm hover:shadow">
                    <div class="content">
                        <img src="" alt="Image">
                    </div>
                    <div class="content">
                        The Property card shows static information related to some subject.
                    </div>
                </div>
            </div>
        </div>
    </details>
</section>